 .div-foter {
    height: 100px;
    width: 100%;
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  white;
    font-weight: bold;
    font-family: $font;
 }