.div-lightbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    .icon {
        font-size: 100px;
        width: 15%;
        display: flex;
    }
    .icon2 {
        justify-content: flex-end;
    }
    .continents {
        margin-top: -100px;
        width: 80%;
        display: flex;
        z-index: 0;

        .image-lightbox {
            max-height: 300px;
        }
        .dropdown-margin-notoggle {
            width: 100%;
        }
        .dropdown-margin {
            position: absolute;
            width: 50%;
            right: 50px;
            top: 5px;
            //margin-top: 100px !important;
        }
    }
}

@media screen and (max-width: 375px){
    .div-lightbox {
        margin-right: 20px;
        margin-left: -10px;
        .icon {
            font-size: 40px;
        }
        .continents {
            flex-direction: column;
            .image-lightbox-none {
                display: none;
            }
        }
    }
}