.container-memorygamecard {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img-memoryGame-beginner {
        width: 65%;
        margin-bottom: 80px;
        img {
            width: 15%;
            height: 25%;
            margin: 2px;
            border-radius: 10px;
        }
    }
    .img-memoryGame-intermediate {
        width: 65%;
        img {
            width: 13%;
            height: 25%;
            border-radius: 10px;
        }
    }
    .img-memoryGame-expert {
        width: 75%;
        margin-bottom: 60px;
        img {
            width: 9%;
            height: 15%;
            margin: 2px;
            border-radius: 10px;
        }
    }
}

@media screen and (max-width: 480px){
    .container-memorygamecard {
        .img-memoryGame-beginner {
            width: 90%;
            margin-bottom: 100px;
            img {
                margin: 1px;
                width: 23%;
                height: 30%;
            }
        }
        .img-memoryGame-intermediate {
            width: 90%;
            img {
                margin: 1px;
                width: 20%;
                height: 18%;
            }
        }
        .img-memoryGame-expert {
            width: 90%;
            margin-bottom: 110px;
            img {
                margin: 1px;
                width: 13%;
                height: 20%;
            }
        }
    }
}