.quiz-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.responses {
    .group-responses {
        display: flex;
        justify-content: space-around;
        margin:50px;
        margin-bottom: -30px;
        button {
            cursor: pointer;
            //margin: 18px;
            background-color: $color-font;
            color: white;
            width: 20%;
            height: 50px;
            border-radius: 10px;
            font-family: $font;
            font-weight: bold;
            font-size: 20px;
        }
        .hover-button {
            &:hover{
                border: solid 1px $background;
                background-color: $background;
                color: $color-font;
            }
            &:focus {
                border: solid 1px $background;
                background-color: $background;
                color: $color-font;
            }
        }
    }
}