.quiz-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.responses {
    .group-responses {
        display: flex;
        justify-content: space-around;
        margin:50px;
        margin-bottom: -30px;
        button { 
            @include button
        }
        .hover-button-responses { 
            &:hover{
                border: solid 1px $background;
                background-color: $background;
                color: $color-font;
            } 
        }
        .button-yellow {
            border: solid 1px $background;
            background-color: $background;
            color: $color-font;
        }
        .button-red {
            border: solid 1px red;
            background-color: red;
            color: white;
        }
        .button-green {
            border: solid 1px green;
            background-color: green;
            color: white;
        }
        .button-bleu {
            border: solid 1px $color-font;
            background-color: $color-font;
            color: white;
            pointer-events: none;
            // &:hover{
            //     border: solid 1px $background;
            //     background-color: $background;
            //     color: $color-font;
            // }
        }
    }
} 

@media screen and (max-width: 480px){
    .quiz-body {

    }
    .responses {
        .group-responses {
           margin-left: 0;
           margin-right: 0;
           button {
            width: 150px;
            font-size: 15px;
           }
        }
    }
}