.window-info {
    height: 10px;
    width: auto;
    background-color: white;
}

svg {
    display: inline-block;
    vertical-align: middle;
  }
  
  .controls {
    display: flex;
    position: fixed;
    top: 60%;
    left: 90%;
    margin: 1.25rem 0;
    text-align: center;
    transform: translateX(-50%);
  }
  
  .controls > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 2rem;
    width: 2rem;
    background: $color-font;
    color: #fff;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
  }
  .controls > button:first-child {
    margin-right: 0.25rem;
  }