.div-about {
    display: flex;
    position: relative;
    height: 440px;
    font-family: $font;
    animation: myAnimHome 1s ease 0s 1 normal forwards;
    .container-text {
        z-index: auto;
        margin: 60px;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 80%;
        color: white;
        background-color: $color-font;
        p {
            margin-top: 30px;
            width: 70%;
        }
    }
    img {
        z-index: 1;
        left: 700px;
        width: 40%;
        height: 60%;
        margin-top: 110px;
        margin-left: -45px;
    }
} 

@media screen and (max-width: 480px){
    .div-about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 470px;
        .container-text {
            margin: 0;
            margin-top: 50px;
            width: 80%;
            font-size: 9px;
            p {
                margin-top: 10px;
            }
        }
        img {
            margin-top: -20px;
            margin-bottom: 50px;
            margin-left: 0px;
            width: 60%;
            height: 40%;
        }
    }
} 