.div-listofpays {
    font-family: 'Montserrat';
    font-weight: bold;
    margin: 20px;
    height: 400px;
    width: auto;
    .div-world {
        display: flex;
        position: relative;
        animation: myAnim 1s ease 0s 1 normal forwards;
        .p-world {
            position: absolute;
            bottom: -20px;
            right: 10px;
            display: flex;
            align-items: center;
            i {
                margin-left: 20px;
                font-size: 100px;
            }
        }
        .p-world-none {
            display: none;
        }
    }
    .div-continents {
        animation: myAnim1 1s ease 0s 1 normal forwards;
    }
    .p-continent {
        display: flex;
        align-items: center;
        overflow: hidden;
        //margin-top: 50px;
        z-index: 1;
        position: absolute;
        top: 420px;
        i {
            margin-left: 20px;
            font-size: 100px;
        }
    }
    .p-continent-none {
        display: none;
    }
}

@media screen and (max-width: 375px){ 
    .div-listofpays {
        height: 430px;
        .div-world {
            flex-direction: column;
            .img-world-list {
                animation: myAnim 1s ease 0s 1 normal forwards;
                width: auto;
                height: 200px;
            }
            .img-world-list-none{
                display: none;
            }
            .dropdown-world {
                animation: myAnim 1s ease 0s 1 normal forwards;
            }
        }
        .p-world {
            top: 335px;
            height: 50px;
            position: absolute;
            i {
                margin-left: 10px;
                font-size: 50px;
            }
        }
        .p-world-none {
            display: none;
        }
        .div-continents {
            width: 350px;
            margin-top: 45px;
        }
        .p-continent {
            margin-top: -30px;
            top: 490px;
            left: -20px;
            i {
                margin-right: 20px;
                font-size: 100px;
            }
        }
        .p-continent-none {
            display: none;  
        }
    }
}