.div-memoryGame {
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;
    //height: 440px;
    max-height: 1000px !important;
    h2 {
        text-align: center;
        font-size: 30px;
    }
    button {
        @include button;
        margin-top: 25px;
        &:focus{
            width: 25%;
            color: white;
        }
    }
    .button-memoryGame {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px){
    .div-memoryGame {
        display: flex;
        flex-direction: column;
        justify-content: center;
        //height: 470px;
        max-height: 1000px !important;
        h2 {
            text-align: center;
            font-size: 23px;
        }
        button {
            width: 50%;
            margin-top: 25px;
            &:focus{
                width: 55%;
                height: 55px;
                color: white;
            }
        } 
        .button-memoryGame {
            display: flex;
            flex-direction: column;
        }
    }
}