.div-quizCapitales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 440px;
    img {
        width: 100px;
    }
    .header-quiz {
        margin-top: -50px;
        margin-bottom: -60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button {
            @include button;
            width: auto;
            margin: 18px;  
        }
        .hover-button {
            &:hover{
                border: solid 1px $background;
                background-color: $background;
                color: $color-font;
            }
            &:focus {
                border: solid 1px $background;
                background-color: $background;
                color: $color-font;
            }
        }
        p {
            margin-top: -40px;
        }
    }
} 

@media screen and (max-width: 480px){
    .div-quizCapitales {
        margin: 10px;
        height: 450px;
        h1 {
            font-size: 22px;
            text-align: center;
        }
        .header-quiz {
            button {
                font-size: 15px;
            }
        }
    }
}