.div-quiz-result {
    display: flex;
    flex-direction: column;
    //height: 440px;
    width: 100%;
    h1 {
        text-align: center;
    }
    div {
        //display: flex;
        //flex-direction: column;
        width: auto;
        div {
            display: flex; 
            flex-direction: row;
            img {
                width: 60px;
                height: auto;
                margin-left: 10px;
                margin-right: 30px;
            }
        }
        hr { 
            width: 50%;
            margin-left: 0;
        }
    }
    button {
        @include button;
        color: white;
        width: 300px;
        margin-bottom: 30px;
        margin-top: 30px;
    } 
}

@media screen and (max-width: 480px){
    .div-quiz-result {
        h1 {
            font-size: 19px;
        }
        div {
            div {
                .p-none {
                    display: none;
                }
            }
        }
        button {
            width: auto;
            font-size: 15px;
        }
    }
}