.div-quizCapitales {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        width: 100px;
    }
    .header-quiz {
        margin-top: -50px;
        margin-bottom: -60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button {
            @include button;
            width: auto;
            margin: 18px;
            
        }
        .hover-button {
            &:hover{
                border: solid 1px $background;
                background-color: $background;
                color: $color-font;
            }
            &:focus {
                border: solid 1px $background;
                background-color: $background;
                color: $color-font;
            }
        }
        p {
            margin-top: -40px;
        }
    }
}