.div-quiz-container {
    animation: myAnimQuiz 1s ease 0s 1 normal forwards;
    color: $color-font;
    text-align: center;
    height: 390px;
    .div-quiz {
        margin-top: 45px;
        display: flex;

        img{
            width: 300px;
            height: 198px; 
        }
        button {
            background-color: $color-font;
            color: white;
            width: 150px;
            height: 50px;
            border-radius: 10px;
            font-family: $font;
            font-weight: bold;
            font-size: 20px;
            margin-top: 40px;
        }
        h1 {
            text-align: center;
        }
        .quiz-capitales {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            text-align: center;
            
        }
        .quiz-drapeaux { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 480px){
    .div-quiz-container {
        height: 450px;
        h1 { 
            display: none;
        }
        .div-quiz {
            display: block !important;
            margin-top: 0;
            h2 {
                font-size: 20px;
            }
            img { 
                width: 200px;
                height: 105px;
            }
            button {
                width: 100px;
                height: 30px;
                border-radius: 5px;
                font-size: 15px;
                margin-top: 10px;
            }
            .quiz-capitales {
                width: 100% !important;
                margin-top: 25px;
            }
            .quiz-drapeaux {
                width: 100% !important;
                margin-top: 25px;
            }   
        } 
    } 
}