.div-quiz-result {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    h1 {
        text-align: center;
    }
    div {
        //display: flex;
        //flex-direction: column;
        width: auto;
        div {
            display: flex; 
            flex-direction: row;
            img {
                width: 60px;
                height: auto;
                margin-left: 10px;
                margin-right: 30px;
            }
        }
        hr {
            width: 50%;
            margin-left: 0;
        }
    }
    button {
        @include button;
        color: white;
    }
}