$font: 'Montserrat';
$color-font:#132344;
$background: #FFA808;

html, body {
	background-color: rgb(207, 221, 248) ;
	font-family: 'Montserrat';
    font-weight: bold;
}

@mixin button {
	        cursor: pointer;
            //margin: 18px;
            background-color: $color-font;
            color: white;
            width: 20%;
            height: 50px;
            border-radius: 10px;
            font-family: $font;
            font-weight: bold;
            font-size: 20px;
}

@keyframes rotation1 {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@keyframes rotation2 {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes myAnimHome {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes myAnimHome1 {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotateY(-70deg);
		transform-origin: right;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: right;
	}
}
@keyframes myAnim1 {
	0% {
		opacity: 0;
		transform: rotateY(-70deg);
		transform-origin: left;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}

@keyframes myAnimQuiz {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}