html, body {
  background-color: rgb(207, 221, 248);
  font-family: "Montserrat";
  font-weight: bold;
}

@-webkit-keyframes rotation1 {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotation1 {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotation2 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotation2 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes myAnimHome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes myAnimHome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes myAnimHome1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes myAnimHome1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes myAnim {
  0% {
    opacity: 0;
    transform: rotateY(-70deg);
    transform-origin: right;
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
    transform-origin: right;
  }
}
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: rotateY(-70deg);
    transform-origin: right;
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
    transform-origin: right;
  }
}
@-webkit-keyframes myAnim1 {
  0% {
    opacity: 0;
    transform: rotateY(-70deg);
    transform-origin: left;
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
    transform-origin: left;
  }
}
@keyframes myAnim1 {
  0% {
    opacity: 0;
    transform: rotateY(-70deg);
    transform-origin: left;
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
    transform-origin: left;
  }
}
@-webkit-keyframes myAnimQuiz {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes myAnimQuiz {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.div-header {
  height: 100px;
  width: 100%;
  background-color: #FFA808;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-header img {
  height: 50px;
  margin-left: 20px;
}
.div-header .header-nav-responsive {
  display: none;
}
.div-header .header-nav {
  display: block;
}

@media screen and (max-width: 480px) {
  .div-header {
    height: 80px;
    width: 100%;
    background-color: #FFA808;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .div-header .header-nav {
    display: none;
  }
  .div-header .header-nav-responsive {
    display: flex;
    margin-right: 25px;
  }
  .div-header .header-nav-responsive .fa-bars {
    position: absolute;
    top: 35px;
    right: 50px;
    font-size: 17px;
    color: white;
  }
  .div-header img {
    height: 30px;
    margin-left: 20px;
  }
}
.div-foter {
  height: 100px;
  width: 100%;
  background-color: #FFA808;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-family: "Montserrat";
  width: 100%;
  height: 100px; /* Hauteur du pied de page */
}

.ul-nav {
  display: flex;
  margin-top: 5px;
  margin-right: 50px;
}
.ul-nav .p-nav {
  margin-right: 20px;
  list-style: none;
  font-family: "Montserrat";
  font-weight: bold;
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .ul-nav {
    position: absolute;
    right: -50px;
    top: 70px;
    padding: 0;
    background-color: #FFA808;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }
  .p-nav {
    font-size: 13px;
    margin: 7px;
    text-transform: uppercase;
  }
}
.div-about {
  display: flex;
  position: relative;
  height: 440px;
  font-family: "Montserrat";
  -webkit-animation: myAnimHome 1s ease 0s 1 normal forwards;
          animation: myAnimHome 1s ease 0s 1 normal forwards;
}
.div-about .container-text {
  z-index: auto;
  margin: 60px;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80%;
  color: white;
  background-color: #132344;
}
.div-about .container-text p {
  margin-top: 30px;
  width: 70%;
}
.div-about img {
  z-index: 1;
  left: 700px;
  width: 40%;
  height: 60%;
  margin-top: 110px;
  margin-left: -45px;
}

@media screen and (max-width: 480px) {
  .div-about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 470px;
  }
  .div-about .container-text {
    margin: 0;
    margin-top: 50px;
    width: 80%;
    font-size: 9px;
  }
  .div-about .container-text p {
    margin-top: 10px;
  }
  .div-about img {
    margin-top: -20px;
    margin-bottom: 50px;
    margin-left: 0px;
    width: 60%;
    height: 40%;
  }
}
.erreur-404 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.erreur-404 .erreur-404-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #132344;
}
.erreur-404 .erreur-404-container .p-404 {
  margin: 95px;
  font-size: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%;
}
.erreur-404 .erreur-404-container .p-404-text {
  font-size: 36px;
}
.erreur-404 .back-to-home {
  margin-bottom: 50px;
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .erreur-404 {
    margin-top: 100px;
  }
  .erreur-404 .erreur-404-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .erreur-404 .erreur-404-container .p-404 {
    font-size: 96px;
  }
  .erreur-404 .erreur-404-container .p-404-text {
    font-size: 18px;
    text-align: center;
  }
  .erreur-404 .back-to-home {
    font-size: 14px;
  }
}
.div-home {
  -webkit-animation: myAnimHome 1s ease 0s 1 normal forwards;
          animation: myAnimHome 1s ease 0s 1 normal forwards;
  display: flex;
  flex-direction: column;
  height: 440px;
  font-family: "Montserrat";
  color: #132344;
}
.div-home .div-container {
  display: flex;
}
.div-home .div-container div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-home .div-container div h1 {
  width: 340px;
  text-align: center;
  font-size: 30px;
}
.div-home .div-container div img {
  width: 380px;
  height: 180px;
}
.div-home .div-container div button {
  background-color: #132344;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
}

@media screen and (max-width: 480px) {
  .div-home {
    display: flex;
    flex-direction: row;
    height: 480px;
  }
  .div-home .div-container {
    flex-direction: column;
  }
  .div-home .div-container div {
    margin-top: 15px;
    width: 100%;
  }
  .div-home .div-container div h1 {
    width: 100%;
    font-size: 20px;
  }
  .div-home .div-container div img {
    width: 200px;
    height: 105px;
  }
  .div-home .div-container div button {
    background-color: #132344;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
  }
}
.div-quiz-container {
  -webkit-animation: myAnimQuiz 1s ease 0s 1 normal forwards;
          animation: myAnimQuiz 1s ease 0s 1 normal forwards;
  color: #132344;
  text-align: center;
  height: 390px;
}
.div-quiz-container .div-quiz {
  margin-top: 45px;
  display: flex;
}
.div-quiz-container .div-quiz img {
  width: 300px;
  height: 198px;
}
.div-quiz-container .div-quiz button {
  background-color: #132344;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
}
.div-quiz-container .div-quiz h1 {
  text-align: center;
}
.div-quiz-container .div-quiz .quiz-capitales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}
.div-quiz-container .div-quiz .quiz-drapeaux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .div-quiz-container {
    height: 450px;
  }
  .div-quiz-container h1 {
    display: none;
  }
  .div-quiz-container .div-quiz {
    display: block !important;
    margin-top: 0;
  }
  .div-quiz-container .div-quiz h2 {
    font-size: 20px;
  }
  .div-quiz-container .div-quiz img {
    width: 200px;
    height: 105px;
  }
  .div-quiz-container .div-quiz button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
  }
  .div-quiz-container .div-quiz .quiz-capitales {
    width: 100% !important;
    margin-top: 25px;
  }
  .div-quiz-container .div-quiz .quiz-drapeaux {
    width: 100% !important;
    margin-top: 25px;
  }
}
.window-info {
  height: 10px;
  width: auto;
  background-color: white;
}

.controls {
  display: flex;
  position: fixed;
  top: 60%;
  left: 90%;
  margin: 1.25rem 0;
  text-align: center;
  transform: translateX(-50%);
}
.controls svg {
  display: inline-block;
  vertical-align: middle;
  height: 50px !important;
}

.controls > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 2rem;
  width: 2rem;
  background: #132344;
  color: #fff;
  border-radius: 100%;
  border: 0;
  cursor: pointer;
}

.controls > button:first-child {
  margin-right: 0.25rem;
}

.button-link {
  position: fixed;
  left: 0;
  cursor: pointer;
  background-color: #132344;
  color: white;
  width: 20%;
  height: 50px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  color: white;
  width: 200px;
  font-size: 15px;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  .controls {
    top: 80%;
  }
}
.page-worldmap {
  height: 440px;
  -webkit-animation: myAnim1 1.5s ease 0s 1 normal forwards;
          animation: myAnim1 1.5s ease 0s 1 normal forwards;
}
.page-worldmap .world-map {
  display: flex;
  justify-content: center;
  height: 440px;
  overflow: hidden;
}
.page-worldmap .world-map svg {
  height: 500px;
  width: 100%;
}

path :focus {
  outline: 0px !important;
  outline-style: none;
  outline-width: 0;
  outline-color: green;
}

@media screen and (max-width: 480px) {
  .page-worldmap {
    height: 460px;
  }
  .page-worldmap .world-map {
    margin-top: 10px;
    height: 400px;
  }
  .page-worldmap .world-map svg {
    height: 500px;
  }
}
.modal-overlay {
  position: fixed;
  top: -200px;
  left: -100px;
  width: 105vw;
  height: 111vh;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: myAnimHome 1s ease 0s 1 normal forwards;
          animation: myAnimHome 1s ease 0s 1 normal forwards;
}
.modal-overlay .modal-wrapper {
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  align-items: center;
}
.modal-overlay .modal-wrapper .modal {
  z-index: 100;
  background: #fff;
  position: relative;
  margin: auto;
  margin-top: -10px;
  border-radius: 5px;
  max-width: 80%;
  padding: 1rem;
}
.modal-overlay .modal-wrapper .modal .modal-header {
  display: flex;
  justify-content: space-between;
}
.modal-overlay .modal-wrapper .modal .modal-header div {
  display: flex;
  align-items: center;
}
.modal-overlay .modal-wrapper .modal .modal-header div h2 {
  margin-right: 10px;
  color: #132344;
}
.modal-overlay .modal-wrapper .modal .modal-header .flag-modal {
  width: 60px;
  border: 1px rgb(0, 0, 0) solid;
}
.modal-overlay .modal-wrapper .modal .modal-body {
  display: flex;
}
.modal-overlay .modal-wrapper .modal .modal-body .img-map {
  max-height: 450px !important;
}
.modal-overlay .modal-wrapper .modal .modal-body .body-country-info {
  background-color: rgb(235, 226, 226);
  padding: 30px;
}
.modal-overlay .modal-wrapper .modal .modal-body .body-country-info span {
  color: rgb(48, 84, 139);
}

.modal-worldmap {
  position: fixed;
  top: -100px;
  left: -100px;
  width: 105vw;
  height: 104vh;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: myAnimHome 1s ease 0s 1 normal forwards;
          animation: myAnimHome 1s ease 0s 1 normal forwards;
}
.modal-worldmap .modal-wrapper {
  position: fixed;
  top: -20px;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  align-items: center;
}
.modal-worldmap .modal-wrapper .modal {
  z-index: 100;
  background: #fff;
  position: relative;
  margin: auto;
  margin-top: -10px;
  border-radius: 5px;
  max-width: 80%;
  padding: 1rem;
}
.modal-worldmap .modal-wrapper .modal .modal-header {
  display: flex;
  justify-content: space-between;
}
.modal-worldmap .modal-wrapper .modal .modal-header div {
  display: flex;
  align-items: center;
}
.modal-worldmap .modal-wrapper .modal .modal-header div h2 {
  margin-right: 10px;
  color: #132344;
}
.modal-worldmap .modal-wrapper .modal .modal-header .flag-modal {
  width: 60px;
  border: 1px rgb(0, 0, 0) solid;
}
.modal-worldmap .modal-wrapper .modal .modal-body {
  display: flex;
}
.modal-worldmap .modal-wrapper .modal .modal-body .img-map {
  max-height: 450px !important;
}
.modal-worldmap .modal-wrapper .modal .modal-body .body-country-info {
  background-color: rgb(235, 226, 226);
  padding: 30px;
}
.modal-worldmap .modal-wrapper .modal .modal-body .body-country-info span {
  color: rgb(48, 84, 139);
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  border: none;
  background: transparent;
}

@media screen and (max-width: 480px) {
  .modal {
    height: 500px;
    overflow: scroll;
  }
  .modal .modal-body {
    flex-direction: column;
  }
  .modal .modal-body img {
    max-height: 400px;
  }
  .modal-worldmap {
    top: -100px;
    left: -100px;
    right: -200px;
    width: 120vw;
    height: 104vh;
    z-index: 1040;
  }
  .modal-overlay {
    top: -110px;
    left: -100px;
    right: -200px;
    width: 120vw;
    height: 104vh;
    z-index: 1040;
  }
  .modal-overlay .modal-wrapper .modal {
    margin-top: 30px;
  }
}
.div-flag-component {
  font-family: "Montserrat";
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 80px;
}
.div-flag-component .div-flag-container {
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #132344;
  opacity: 0.9;
  color: white;
  height: 50px;
  width: auto;
  border-radius: 10px;
}
.div-flag-component .div-flag-container .img-flag-component {
  margin-left: 10px;
  height: 40px;
  width: auto;
  border: solid black 1px;
}
.div-flag-component i {
  color: #132344;
  opacity: 0.8;
  margin: -10px;
  font-size: 25px;
}

.dropdown {
  font-family: "Montserrat";
  font-weight: bold;
  margin: 20px;
  width: 80%;
}
.dropdown .dropdown-header {
  height: 20px;
  background-color: #132344;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
}
.dropdown .dropdown-header p {
  margin: 0;
}
.dropdown .dropdown-header .rotate2 {
  -webkit-animation: rotation2 0.5s;
          animation: rotation2 0.5s;
}
.dropdown .dropdown-header .rotate1 {
  -webkit-animation: rotation1 0.5s;
          animation: rotation1 0.5s;
}
.dropdown .dropdown-body {
  width: auto;
  height: 300px;
  border-radius: 5px;
  background-color: white;
  padding: 8px;
  overflow: auto;
}
.dropdown .dropdown-body .ul-dropdown {
  display: block;
  padding: 0;
  margin: 10px;
}
.dropdown .dropdown-body .ul-dropdown input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.dropdown .dropdown-body .ul-dropdown input input:focus {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.dropdown .dropdown-body .ul-dropdown li {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.dropdown .dropdown-body .ul-dropdown li p {
  margin: 0;
}
.dropdown .dropdown-body .ul-dropdown li img {
  width: 30px;
  height: auto;
}

@media screen and (max-width: 480px) {
  .dropdown .dropdown-body {
    height: 400px;
  }
  .dropdown-margin {
    position: static !important;
    margin-top: 100px;
    width: 100% !important;
  }
}
.div-listofpays {
  font-family: "Montserrat";
  font-weight: bold;
  margin: 20px;
  height: 400px;
  width: auto;
}
.div-listofpays .div-world {
  display: flex;
  position: relative;
  -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
          animation: myAnim 1s ease 0s 1 normal forwards;
}
.div-listofpays .div-world .p-world {
  position: absolute;
  bottom: -20px;
  right: 10px;
  display: flex;
  width: 300px;
  align-items: center;
}
.div-listofpays .div-world .p-world i {
  cursor: pointer;
  font-size: 100px;
}
.div-listofpays .div-world .p-world-none {
  display: none;
}
.div-listofpays .div-continents {
  -webkit-animation: myAnim1 1s ease 0s 1 normal forwards;
          animation: myAnim1 1s ease 0s 1 normal forwards;
}
.div-listofpays .p-continent {
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 420px;
  width: 300px;
}
.div-listofpays .p-continent i {
  cursor: pointer;
  margin-left: 20px;
  font-size: 100px;
}
.div-listofpays .p-continent-none {
  display: none;
}

@media screen and (max-width: 480px) {
  .div-listofpays {
    height: 430px;
  }
  .div-listofpays .div-world {
    flex-direction: column;
  }
  .div-listofpays .div-world .img-world-list {
    -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
            animation: myAnim 1s ease 0s 1 normal forwards;
    width: auto;
    height: 200px;
  }
  .div-listofpays .div-world .img-world-list-none {
    display: none;
  }
  .div-listofpays .div-world .dropdown-world {
    -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
            animation: myAnim 1s ease 0s 1 normal forwards;
  }
  .div-listofpays .p-world {
    top: 335px;
    height: 50px;
    position: absolute;
  }
  .div-listofpays .p-world i {
    margin-left: 10px;
    font-size: 50px;
  }
  .div-listofpays .p-world-none {
    display: none;
  }
  .div-listofpays .div-continents {
    width: 350px;
    margin-top: 45px;
  }
  .div-listofpays .p-continent {
    margin-top: -30px;
    top: 490px;
    left: -20px;
  }
  .div-listofpays .p-continent i {
    cursor: pointer;
    margin-right: 20px;
    font-size: 100px;
  }
  .div-listofpays .p-continent-none {
    display: none;
  }
}
.div-quizCapitales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 440px;
}
.div-quizCapitales img {
  width: 100px;
}
.div-quizCapitales .header-quiz {
  margin-top: -50px;
  margin-bottom: -60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-quizCapitales .header-quiz button {
  cursor: pointer;
  background-color: #132344;
  color: white;
  width: 20%;
  height: 50px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  width: auto;
  margin: 18px;
}
.div-quizCapitales .header-quiz .hover-button:hover {
  border: solid 1px #FFA808;
  background-color: #FFA808;
  color: #132344;
}
.div-quizCapitales .header-quiz .hover-button:focus {
  border: solid 1px #FFA808;
  background-color: #FFA808;
  color: #132344;
}
.div-quizCapitales .header-quiz p {
  margin-top: -40px;
}

@media screen and (max-width: 480px) {
  .div-quizCapitales {
    margin: 10px;
    height: 450px;
  }
  .div-quizCapitales h1 {
    font-size: 22px;
    text-align: center;
  }
  .div-quizCapitales .header-quiz button {
    font-size: 15px;
  }
}
.validate-button {
  background-color: #FFA808 !important;
  border: none;
  color: #132344 !important;
}

.quiz-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.responses .group-responses {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  margin-bottom: -30px;
}
.responses .group-responses button {
  cursor: pointer;
  background-color: #132344;
  color: white;
  width: 20%;
  height: 50px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
}
.responses .group-responses .hover-button-responses:hover {
  border: solid 1px #FFA808;
  background-color: #FFA808;
  color: #132344;
}
.responses .group-responses .button-yellow {
  border: solid 1px #FFA808;
  background-color: #FFA808;
  color: #132344;
}
.responses .group-responses .button-red {
  border: solid 1px red;
  background-color: red;
  color: white;
}
.responses .group-responses .button-green {
  border: solid 1px green;
  background-color: green;
  color: white;
}
.responses .group-responses .button-bleu {
  border: solid 1px #132344;
  background-color: #132344;
  color: white;
  pointer-events: none;
}

@media screen and (max-width: 480px) {
  .responses .group-responses {
    margin-left: 0;
    margin-right: 0;
  }
  .responses .group-responses button {
    width: 150px;
    font-size: 15px;
  }
}
.div-quiz-result {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.div-quiz-result h1 {
  text-align: center;
}
.div-quiz-result div {
  width: auto;
}
.div-quiz-result div div {
  display: flex;
  flex-direction: row;
}
.div-quiz-result div div img {
  width: 60px;
  height: auto;
  margin-left: 10px;
  margin-right: 30px;
}
.div-quiz-result div hr {
  width: 50%;
  margin-left: 0;
}
.div-quiz-result button {
  cursor: pointer;
  background-color: #132344;
  color: white;
  width: 20%;
  height: 50px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  color: white;
  width: 300px;
  margin-bottom: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  .div-quiz-result h1 {
    font-size: 19px;
  }
  .div-quiz-result div div .p-none {
    display: none;
  }
  .div-quiz-result button {
    width: auto;
    font-size: 15px;
  }
}
.div-lightbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}
.div-lightbox .icon {
  font-size: 100px;
  width: 15%;
  display: flex;
  cursor: pointer;
}
.div-lightbox .icon2 {
  justify-content: flex-end;
  cursor: pointer;
}
.div-lightbox .continents {
  margin-top: -100px;
  width: 80%;
  display: flex;
  z-index: 0;
}
.div-lightbox .continents .image-lightbox {
  max-height: 300px;
}
.div-lightbox .continents .dropdown-margin-notoggle {
  width: 100%;
}
.div-lightbox .continents .dropdown-margin {
  position: absolute;
  width: 50%;
  right: 50px;
  top: 5px;
}

@media screen and (max-width: 480px) {
  .div-lightbox {
    margin-right: 20px;
    margin-left: -10px;
  }
  .div-lightbox .icon {
    font-size: 40px;
  }
  .div-lightbox .continents {
    flex-direction: column;
  }
  .div-lightbox .continents .image-lightbox-none {
    display: none;
  }
}
.div-memoryGame {
  max-height: 2000px !important;
}
.div-memoryGame h2 {
  text-align: center;
  font-size: 30px;
}
.div-memoryGame button {
  cursor: pointer;
  background-color: #132344;
  color: white;
  width: 20%;
  height: 50px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  margin-top: 25px;
}
.div-memoryGame .button-memoryGame {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-memoryGame .button-memoryGame .button-green {
  background-color: green;
  width: 25%;
}
.div-memoryGame .button-memoryGame .button-yellow {
  background-color: #FFA808;
  width: 25%;
}
.div-memoryGame .button-memoryGame .button-red {
  background-color: red;
  width: 25%;
}

@media screen and (max-width: 480px) {
  .div-memoryGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 2000px !important;
  }
  .div-memoryGame h2 {
    text-align: center;
    font-size: 23px;
  }
  .div-memoryGame button {
    width: 50%;
    margin-top: 25px;
  }
  .div-memoryGame .button-memoryGame {
    display: flex;
    flex-direction: column;
  }
  .div-memoryGame .button-memoryGame .button-green, .div-memoryGame .button-memoryGame .button-red, .div-memoryGame .button-memoryGame .button-yellow {
    width: 55%;
  }
}
.container-memorygamecard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-memorygamecard .img-memoryGame-beginner {
  width: 65%;
  margin-bottom: 80px;
}
.container-memorygamecard .img-memoryGame-beginner img {
  width: 15%;
  height: 25%;
  margin: 2px;
  border-radius: 10px;
}
.container-memorygamecard .img-memoryGame-intermediate {
  width: 65%;
}
.container-memorygamecard .img-memoryGame-intermediate img {
  width: 13%;
  height: 25%;
  border-radius: 10px;
}
.container-memorygamecard .img-memoryGame-expert {
  width: 75%;
  margin-bottom: 60px;
}
.container-memorygamecard .img-memoryGame-expert img {
  width: 9%;
  height: 15%;
  margin: 2px;
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  .container-memorygamecard .img-memoryGame-beginner {
    width: 90%;
    margin-bottom: 100px;
  }
  .container-memorygamecard .img-memoryGame-beginner img {
    margin: 1px;
    width: 23%;
    height: 30%;
  }
  .container-memorygamecard .img-memoryGame-intermediate {
    width: 90%;
  }
  .container-memorygamecard .img-memoryGame-intermediate img {
    margin: 1px;
    width: 20%;
    height: 18%;
  }
  .container-memorygamecard .img-memoryGame-expert {
    width: 90%;
    margin-bottom: 110px;
  }
  .container-memorygamecard .img-memoryGame-expert img {
    margin: 1px;
    width: 13%;
    height: 20%;
  }
}
.memory-result {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.memory-result h1 {
  text-align: center;
}
.memory-result div {
  width: auto;
}
.memory-result div div {
  display: flex;
  flex-direction: row;
}
.memory-result div div img {
  width: 60px;
  height: auto;
  margin-left: 10px;
  margin-right: 30px;
}
.memory-result div hr {
  width: 50%;
  margin-left: 0;
}
.memory-result button {
  cursor: pointer;
  background-color: #132344;
  color: white;
  width: 20%;
  height: 50px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  color: white;
  width: 300px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.div-app {
  position: relative;
  height: 100%;
}/*# sourceMappingURL=styles.css.map */